body {
    background-color:cadetblue;

}

button {
    background-color:aquamarine;
    border-radius: 8px;
}

button:hover {
    border:black 5px solid;
}

.button-text { 
    font-weight: bold;
    font-size: 20px;
}