body {
    background-color:cadetblue;
}

button {
    background-color:aquamarine;
    border-radius: 8px;
}

.button-text { 
    font-weight: bold;
    font-size: 20px;
}

.startButton {
    height: 70px;
    font-weight: bold;
    font-size: 60px;
}

.displayedText {
    position:absolute;
    white-space:pre-line;
    font-size: 32px;
    font-weight: bold;
}
